<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
</head>
<style>
    #message{
        color: red;
    }
</style>
<body bgcolor="gold" text="navy">
    <h1>MTripShare</h1>
    <h2 id="message"><%= message %></h2>
    <h2>Change Password</h2>
    <form action="/password-change" method="POST">
        <input type="hidden" name="uniqname" value=<%= uniqname %> />
        <div>
            <label>Password</label>
            <input type="password" minlength="7" name="change_password" required>
        </div>
        <div>
            <label>Confirm Password</label>
            <input type="password" minlength="7" name="confirm_change_password" required>
        </div>
        <button>Submit</button>
    </form>

</body>
</html>
