<!DOCTYPE html>
<head>  
<title>Donate</title>
</head>

<html>

<style>
    .header {
        background-color: #FFCB05;
        color: #00274C;
        text-align: center;
        font-size: 30px;
    }

    .content{
        background-color: #E3DFDF;
    }

    a, a:visited { 
        text-decoration: none;
        color: #00274C; 
    }


    #header_band{
        position: absolute;
        width: 1440px;
        height: 65px;
        left: 0px;
        top: 65px;
        background: #FFCB05;
    }

    #app-name{
        position: absolute;
        width: 361px;
        height: 62px;
        left: 512px;
        top: 68px;
        text-align: center;
        color: #00274C;
    }

    #donate{
        position: absolute;
        width: 173px;
        height: 51px;
        left: 1267px;
        top: 68px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        color: #00274C;
    }
    #how-to{
        position: absolute;
        width: 160px;
        height: 51px;
        left: 68px;
        top: 45px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        color: #00274C;

    }

    #body{
        position: absolute;
        width: 1440px;
        height: 817px;
        left: 0px;
        top: 171px;

        background: #FFCB05;
        text-align: center;
        color: #00274C;
    }

</style>
<body bgcolor=#00274C>




    <form id="header_band" action="/logout?_method=DELETE" method="POST">
        <button>Logout</button>
    </form>
    <!--
    <div id="app-name">
        <h1>MTripShare</h1>
    </div>
    -->

    <div id="app-name">
        <h1><a href="/dashboard">MTripShare</a></h1>
    </div>


    <div id="donate">
        <h3><a href="/donate">Donate</a></h3>
    </div>

    <div id="how-to">
        <h3><a href="/how-to">How to use this webiste</a></h3>
    </div>

    <div id="body">
        <h2>Help keep this service keep running for the future</h2>
        <h2>If MTripShare was able to save you money, please consider supporting. Anything helps!</h2>
        <h3>Venmo: @MTripShare</h3>
    </div>



</body>
</html>


