<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
</head>

<body bgcolor="gold" text="navy">
    <h1>Looks like there is an error</h1>
    <h1><%=error%></h1>
    <a href="/backtodash"> Return to Dashboard</a>
</body>
</html>



