<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
</head>
<style>
    #message{
        color: red;
    }
</style>
<body bgcolor="gold" text="navy">
    <h1>MTripShare</h1>
    <% if (message.error){%>
        <%= messages.error %>
        <% } %>
    <h2 id="message"><%= message %></h2>
    <h2>Log in</h2>
    <form action="/login" method="POST">
        <div>
            <label>uniqname</label>
            <input name="login_username" required>
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="login_password" required>
        </div>
        <button>Login</button>
    </form>

    <h2>Sign Up</h2>
    <form action = "/register" method = "post">
        <div>
            <label>uniqname</label>
            <input name = "create_username" required>
        </div>
        <div>
            <label>Password</label>
            <input type="password" minlength="7" name = "create_password" required>
        </div>
        <div>
            <label>Confirm Password</label>
            <input type="password" name="confirm_password" required>
        </div>
        <button>Register</button>
        <a href="/forgot">Forgot Password</a>
    </form>
</body>
</html>
