<!DOCTYPE html>
<head>  
<title>Donate</title>
</head>

<html>

<style>
    .header {
        background-color: #E1C323;
        color: #2A3592;
        text-align: center;
        font-size: 30px;
    }

    .content{
        background-color: #E3DFDF;
    }

    a, a:visited { 
        text-decoration: none;
        color: #2A3592; 
    }


    #header_band{
        position: absolute;
        width: 1440px;
        height: 65px;
        left: 0px;
        top: 65px;
        background: #E1C323;
    }

    #app-name{
        position: absolute;
        width: 361px;
        height: 62px;
        left: 512px;
        top: 68px;
        text-align: center;
        color: #2A3592;
    }

    #donate{
        position: absolute;
        width: 173px;
        height: 51px;
        left: 1267px;
        top: 68px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        color: #2A3592;
    }
    #how-to{
        position: absolute;
        width: 160px;
        height: 51px;
        left: 68px;
        top: 45px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        color: #2A3592;

    }

    #body{
        position: absolute;
        width: 1440px;
        height: 817px;
        left: 0px;
        top: 171px;

        background: #E1C323;
        text-align: center;
        color: #2A3592;
    }

</style>
<body bgcolor=#2A3592>




    <form id="header_band" action="/logout?_method=DELETE" method="POST">
        <button>Logout</button>
    </form>
    <!--
    <div id="app-name">
        <h1>MTripShare</h1>
    </div>
    -->

    <div id="app-name">
        <h1><a href="/dashboard">MTripShare</a></h1>
    </div>


    <div id="donate">
        <h3><a href="/donate">Donate</a></h3>
    </div>

    <div id="how-to">
        <h3><a href="/how-to">How to use this webiste</a></h3>
    </div>

    <div id="body">
        <h1>0. Social Distancing Precautions</h1>
        <p>Please ensure before you utilize this platform, you are complying with the University of Michigan's 
            social distancing guidelines and pre AA arrival plans.
        </p>
        <h1>1. Schedule a Trip</h1>
        <p>Click on the '+' sign in the 'Trips Scheduled' section and fill out the fields. This puts your trip
            in the database for other umich students to find. Just a note that the form asks the time you're 
            <b>leaving</b> the airport. Not what time your flight lands. 
        </p>
        <h1>2. Find UM riders</h1>
        <p>In the 'Search for Other UM Riders' section fill out the date you want to see other riders as well as
            any other parameters that are important to you and click 'Search'. This will show you any other UM students
            who have scheduled trips in with the designated filters. 
            
            *A note that The time frame departure filter lets you see trips on a day in a certain time frame (from -> to to 
            designte the time frame).
        </p>

        <h1>3. Reaching Out</h1>
        <p>While searching for mates if you find someone who is leaving DTW near the same time as you. Feel free to email that 
            person using their uniqname and setup/synchronize the choice of ride share.
        </p>
    </div>



</body>
</html>


