<!DOCTYPE html>
<head>
    <title>Search Results</title>
</head>

<style>
    .header{
        color: #2A3592;
        text-align: center;
        font-size: 30px;
    }

    #top-header{
        position: absolute;
        width: 1440px;
        height: 65px;
        left: 0px;
        top: 65px;

        background: #E1C323;
    }

    #search-body{
        position: absolute;
        width: 1440px;
        height: 768px;
        left: 0px;
        top: 222px;
        background: #E3DFDF;    
    }

    #results-header{
        position: absolute;
        width: 1440px;
        height: 39px;
        left: 0px;
        top: 183px;

        background: #E1C323;
    }

    #return-dashboard{
        position: absolute;
        width: 380px;
        height: 38px;
        left: 0px;
        top: 241px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: center;

        color: #2A3592;
    }

    #edit-search{
        position: absolute;
        width: 380px;
        height: 38px;
        left: 530px;
        top: 238px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: center;

        color: #2A3592;
    }

    #search-results-div{
        position: absolute;
        width: 1440px;
        height: 669px;
        left: 0px;
        top: 295px;
        overflow-y: auto;
    }

    #trip-results{
        padding: 75px;
    }

    #results-table{
        color: #2A3592;
        font-size: 25px;
    }
    td{
        text-align: center;
    }

    /*Edit Search Modal */
    .search-modal{
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.7);
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }
    .search-modal-content{
        width: 1000px;
        height: 800px;
        background-color: #E1C323;
        border-radius: 4px;
        position:relative;
    }
    .edit-search-form{
        text-align: center;
        color: #2A3592;
    }
    #edit-search{
        cursor: pointer;
    }
    #search-close{
        position: absolute;
        top:0;
        right: 14px;
        font-size: 42px;
        transform: rotate(45deg);
        cursor: pointer;
    }
    .search-title{
        text-align: center;
        color: #2A3592;
    }

    a, a:visited { 
        text-decoration: none;
        color: #2A3592; 
    }


    #header_band{
        position: absolute;
        width: 1440px;
        height: 65px;
        left: 0px;
        top: 65px;
        background: #E1C323;
    }

    #app-name{
        position: absolute;
        width: 361px;
        height: 62px;
        left: 512px;
        top: 68px;
        text-align: center;
        color: #2A3592;
    }

    #donate{
        position: absolute;
        width: 173px;
        height: 51px;
        left: 1267px;
        top: 68px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        color: #2A3592;
    }
    #how-to{
        position: absolute;
        width: 160px;
        height: 51px;
        left: 68px;
        top: 45px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        color: #2A3592;

    }
    /*Edit Search Modal Ends */
</style>

<html>
<body bgcolor=#2A3592>
    <div id="top-header">
        <!--Logout goes here-->
    </div>
    <%
    var header = "Showing Results for";
    for(var h = 0; h < criteria.length; h++){
        if(h != 1){
            header+= " " + criteria[h];
        }
    }
    %>

    <form id="header_band" action="/logout?_method=DELETE" method="POST">
        <button>Logout</button>
    </form>
    <!--
    <div id="app-name">
        <h1>MTripShare</h1>
    </div>
    -->

    <div id="app-name">
        <h1><a href="/dashboard">MTripShare</a></h1>
    </div>


    <div id="donate">
        <h3><a href="/donate">Donate</a></h3>
    </div>

    <div id="how-to">
        <h3><a href="/how-to">How to use this webiste</a></h3>
    </div>
    <div id="results-header" class="header"><%=header%></div>

    <div id="search-body"></div>

    <div id="return-dashboard">
        <a href="/dashboard">Back to Dashboard</a>
    </div>

    <div id="edit-search">Edit Search Criteria
        <script type="text/javascript">
            const div = document.getElementById('edit-search');
            div.addEventListener('click', function() {
                document.querySelector(".search-modal").style.display = "flex";
            });
        </script>
    </div>

    <div id="search-results-div">
        <table id="results-table">
            <tr>
                <th align="left" id="trip-results">Quick Add</th>
                <th align="left" id="trip-results">Airport Departure Time</th>
                <th align="left" id="trip-results">Airline</th>
                <th align="left" id="trip-results">uniqname</th>
            </tr>
            <%
            if(search_results_data.length != 0){
                var i = 1;
                search_results_data.forEach(function(data){
                %>
                <tr>
                    <td>quick add</td>
                    <td><%=data.time%></td>
                    <td><%=data.airline%></td>
                    <%
                    var found = false;
                    var j = 0;
                    var uniqname;
                    while(!found && j < user_table.length){
                        if(user_table[j].id === data.userID){
                            found = true;
                            uniqname = user_table[j].email;
                        }
                        j++;
                    }
                    %>
                    <td><%=uniqname%></td>
                    <!--users_data[data.id].email-->
                </tr>
                <% i++; }); %>
                <% }else{ %>
                    <tr>
                        <td colspan="3">No trips match</td>
                    </tr>
                <% } %>
        </table>
    </div>



    <div class="search-modal">
        <div class="search-modal-content">
            <div class="close" id="search-close">+
                <script type="text/javascript">
                    const close = document.getElementById('search-close');
                    close.addEventListener('click', function(){
                        document.querySelector(".search-modal").style.display = "none";
                    }); 
                </script>
            </div>
            <div class="search-title">
                <h1>Edit Search Criteria</h1>
            </div>
            <div class="edit-search-form">
                <form action="/search" method="POST">
                    <h2>Required Parameter</h2>
                    <h3>Date</h3>
                    <input type="date" id="search_date" name="search_date" min="2020-01-01" max="2020-12-31" required><br></br>
                    <h2>Optional Parameters</h2>
                    <h3>Airline</h3>
                    <div class="search_airlines">
                    <select id= "search_airline" name="search_airline" required>
                        <label>Airline</label>
                        <h4>airline</h4>
                        <option value = "Any">Any</option>
                        <option value = "Delta">Delta</option>
                        <option value = "American Airlines">American Airlines</option>
                        <option value = "United Airlines">United Airlines</option>
                        <option value = "Southwest Airlines">Southwest Airlines</option>
                        <option value = "Spirit">Spirit</option>
                        <option value = "JetBlue">JetBlue</option>
                        <option value = "Other">Other</option>
                    </select>
                    <h3>Time frame of departure</h3>
                    <div>
                        From<input type="time" name="search_start_time" placeholder="hrs:mins"/><br></br>
                        To<input type="time" name="search_end_time" placeholder="hrs:mins"/><br></br> 
                    </div>
                    <br></br>  
                    <input type=submit value="Search">              
                    </div> 
                </form>
            </div>
        </div>
    </div>
</body>
</html>